<!-- MENU DESKTOP -->
<div class="bg-cyan-600 w-full z-10 sm:block hidden">
    <div class="flex justify-center p-4 container mx-auto ">
        <nav class="flex justify-center gap-16 text-white font-bold">
            <a href="?action=admin">Administration</a>
            <a href="?action=addPost">Ajouter un article</a>
            <a href="?action=commentAdmin&list=allComments">Gestion des commentaires</a>
            <a href="?action=userAdmin">Gestion des utilisateurs</a>
        </nav>
    </div>
</div>

<!-- MENU MOBILE -->
<div class="bg-cyan-600 w-full z-10 sm:hidden block">
    <div class="flex justify-end p-4 w-full">
        <nav class="flex flex-col items-end gap-4 text-white font-bold">
            <a href="?action=admin">Administration</a>
            <a href="?action=addPost">Ajouter un article</a>
            <a href="?action=commentAdmin">Gestion des commentaires</a>
            <a href="?action=userAdmin">Gestion des utilisateurs</a>
            <a href="?action=logout" class="mt-4 p-2 rounded-md bg-cyan-950">Déconnexion</a>
        </nav>
    </div>
</div>
