<div class="w-full bg-cyan-950 p-8 flex justify-around items-center text-white relative">
    <div class="flex flex-col items-center">
        <p>Copyright © 2024</p>
        <p>Thomas Lanches</p>
    </div>
    <ul class="flex gap-8">
        <li class="w-7 h-7 text-white">
            <a href="https://www.facebook.com/" target="_blank">
                <img src="assets/facebook.svg">
            </a>
        </li>
        <li class="w-7 h-7 text-white">
            <a href="https://github.com/LanchesThomas" target="_blank">
                <img src="assets/github.svg">
            </a>
        </li>
        <li class="w-7 h-7 text-white">
            <a href="https://www.linkedin.com/in/thomas-lanches/" target="_blank">
                <img src="assets/linkedin.svg">
            </a>
        </li>
    </ul>
    {% if user %}
        <div class="absolute bottom-3 right-3 text-white">
            <a href="?action=admin">Administration</a>
        </div>
    {% endif %}
    
</div>