<div class="bg-cyan-950 fixed top-0 w-full z-10">
    <div class="flex align-middle justify-between p-4 container mx-auto">
        <nav class="flex gap-4 text-white font-bold">
            <a href="?action=home">Accueil</a>
            <a href="?action=blog">Blog</a>
        </nav>
        <a href="?action=home" class="text-white text-xl uppercase" style="font-family: 'Tiny5', sans-serif;">
            infoblog
        </a>
        <nav class="flex gap-4 text-white font-bold">
            <a href="?action=connexion">Connexion</a>
            <a href="?action=inscription">Inscription</a>
        </nav>
    </div>
</div>